@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;600;700;800&family=Montserrat:wght@100&family=PT+Sans&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Hanken Grotesk', sans-serif;
    box-sizing: border-box;
    background-color: #f2f4f5;
}

a{
    text-decoration: none;
}

* p{
    cursor: pointer;
}

ul{
    list-style: none;
}

.fb-header{
    position: fixed;
    z-index: 10;
    width: 100%;
    display: flex;
    height: 50px;
    background-color: #fff;
    align-items: center;
    box-shadow: -1px 4px 8px -6px rgba(0,0,0,0.75);;
    justify-content: space-between;
}

.fb-header .fb-menu-left{
    width: 300px;
    display: flex;
    margin-left: 20px;
}

.fb-header .fb-menu-left img{
    width: 30px;
}

.fb-header .fb-menu-left .fb-search form input{
    width: 200px;
    background-color: #f1f2f6;
    border: none;
    padding: 10px;
    text-align: left;
    padding-left: 40px;
    border-radius: 20px;
    margin-left: 10px;
    outline: none;
    font-weight: 400;
}

.fb-header .fb-menu-left .fb-search form img{
    position: absolute;
    top: 16px;
    left: 70px;
    width: 18px;
}


.fb-menu-center ul{
    display: flex;
}

.fb-menu-center ul li img{
    width: 30px;
}

.fb-menu-right ul,
.fb-menu-center ul,
.fb-menu-left ul{
    display: flex;
}
.fb-menu-center ul li img{
    width: 25px;
    margin-left: 25px;
}

.fb-menu-center{
    width: 500px;
}

.fb-menu-center ul{
    justify-content: space-between;
    align-items: center;
}

.fb-menu-center ul li{
    width: 80px;
}

.fb-menu-center ul li:hover::after{
    content: '';
    display: block;
    height: 5px;
    background-color: #1775f3;
    width: 100%;
    margin-bottom: -10px;
}

.fb-menu-right ul li a img{
    border-radius: 50%;
    padding: 5px;
}

.fb-menu-right ul li.flex-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
}

.fb-menu-right ul li.flex-profile .profile-two{
    width: 35px;
    height: 35px;
    margin-left: 0;
    border-radius: 50%;
    background-color: transparent;
}

.fb-menu-right ul li.flex-profile p{
    padding-left: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #5b5a5f;
}


.fb-menu-right ul {
    align-items: center;
}

.fb-menu-right ul li{
    padding: 0 5px;
}

.fb-menu-right ul li img{
    width: 16px;
    background-color: #e4e6e8;
}

/* Main Menu */

.main-menu-content{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.main-menu-left,
.main-menu-center,
.main-menu-right {
    margin-top: 35px;
}

.main-menu-left{
    max-width: 350px;
}

.main-menu-profile-info{
    margin-top: 20px;
}

.main-menu-profile-info ul li{
    display: flex;
    align-items: center;
    width: 300px;
    padding: 15px 0px 0px 15px;
    width: 100%;
}

.main-menu-profile-info ul li a img{
    width: 32px;
    padding: 0 0 0 0;
}

.main-menu-profile-info ul li p{
    margin-left: 15px;
    font-size: 15px;
    font-weight: 600;
    color: #333;
}

.main-menu-profile-info ul li a .first-profile-image{
    border-radius: 50%;
}

.main-menu-profile-info ul li form{
    width: inherit;
}

.main-menu-profile-info ul li form button{
    background-color: #e5e7eb;
    border: none;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    width: 80%;
    font-weight: 600;
    font-size: 13px;
}

.main-menu-left .main-menu-profile-info .underline{
    width: 80%;
    border-bottom: 2px solid #e5e7eb;
    padding-top: 15px;
    margin: 10px 0px 10px 15px;
}

.underline-feed-status{
    width: 98%;
    border-bottom: 2px solid #e5e7eb;
    padding-top: 5px;
    margin: 0px 0px 0px 5px;
    
}


/* Shortcuts */
.main-menu-left .main-menu-shortcuts{
    width: 400px;
}

.main-menu-left .main-menu-shortcuts ul li {
    display: flex;
    align-items: center;
    width: 300px;
    padding: 15px 0px 0px 15px;
    width: 100%;
}

.main-menu-left .main-menu-shortcuts ul li.shortcut-para p{
    margin-left: 0px;
    font-weight: bold;
    font-size: 16px;
}

.main-menu-left .main-menu-shortcuts ul li.shortcut-para a img{
    margin-left: 200px;
    width: 12px;
}

.main-menu-left .main-menu-shortcuts ul li a img{
    width: 32px;
    padding: 0 0 0 0;
    border-radius: 5px;
}

.main-menu-left .main-menu-shortcuts ul li p{
    margin-left: 15px;
    font-size: 15px;
    font-weight: 600;
    color: #333;
}

.main-menu-left .main-menu-shortcuts ul li form{
    width: inherit;
}

.main-menu-left .main-menu-shortcuts ul li form button{
    background-color: #e5e7eb;
    border: none;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    width: 80%;
    font-weight: 600;
    font-size: 13px;
}

/* Main Menu Center */
.main-menu-content .main-menu-center {
    max-width: 700px;
    overflow: hidden;
    margin-top: 75px;
}

.main-menu-content .main-menu-center .fb-story{
    display: flex;
    max-height: 200px;
    max-width: 50px;
}

.main-menu-content .main-menu-center .fb-story .story{
    position: relative;
    padding: 0 5px;
}

.main-menu-content .main-menu-center .fb-story .story img {
    height: 200px;
    border-radius: 10px;
}

.main-menu-content .main-menu-center .fb-story .story p {
    position: absolute;
    top: 170px;
    padding-left: 10px;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
}

.main-menu-content .main-menu-center .fb-story .story .story-inner{
    position: absolute;
    top: 10px;
    left: 12px;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    border: 2px solid #fff;
    cursor: pointer;
}

.main-menu-content .main-menu-center .fb-story .story i {
    padding: 10px;
    background: #fff;
    border-radius: 25px;
    position: absolute;
    top: 80px;
    right: -10px;
    height: 15px;
    width: 15px;
    color: #0000009a;
}

.main-menu-center .status-update{
    display: flex;
    height: 110px;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 10px;
    width: 95%;
    flex-direction: column;
}

 .main-menu-center .status-update .status-feed {
    display: flex;
    flex-direction: row;
}

.main-menu-center .status-update .status-feed img {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    margin-left: 15px;
}

.main-menu-center .status-update .status-feed form {
    width: 100%;
}

.main-menu-center .status-update .status-feed form input {
    width: 86%;
    background-color: #f1f2f6;
    border: none;
    padding: 10px;
    text-align: left;
    padding-left: 40px;
    border-radius: 20px;
    margin-left: 10px;
    outline: none;
    font-weight: 600;
}

.main-menu-center .status-update .status-feed img,
.main-menu-center .status-update .status-feed form{
    margin-top: 15px;
}

.main-menu-center .status-update .status-attachment .underline{
    width: 94%;
    border-bottom: 2px solid #f1f2f6;
    margin: 10px 0px 10px 15px;
}

.main-menu-center .status-update .status-attachment ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}

.main-menu-center .status-update .status-attachment ul li {
 display:flex;
 padding: 5px 45px 0px 10px;
}

.main-menu-center .status-update .status-attachment ul li a{
    padding-right: 5px;
}

.main-menu-center .status-update .status-attachment ul li a img{
    width: 20px;
}

.main-menu-center .status-update .status-attachment ul li p{
    font-size: 15px;
}

.main-menu-content .main-menu-center .main-feed-area {
    width: 95%;
}

.main-menu-content .main-menu-center .main-feed-area{
    margin-top: 15px;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading {
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 10px;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-profile{
    position: relative;
    display: flex;
    max-height: 50px;
    padding: 15px;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-profile img{
    height: 33px;
    width: 33px;
    border-radius: 25px;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-profile .feed-times{
    padding-left: 10px;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-profile .feed-times .feed-timestamp{
    display: flex;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-profile .feed-times .feed-timestamp p{
    font-size: 12px;
    color: #3333339e;
    font-weight: 600;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-profile .feed-times .feed-timestamp img{
    height: 10px;
    width: 10px;
    border-radius: 0;
    padding-left: 8px;
    margin-top: 3px;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-profile .feed-times .feed-timestamp #timestamp-dots{
    position: absolute;
    right: 30px;
    height: 15px;
    width: 15px;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-title p {
    padding-left: 15px;
    margin-bottom: 15px;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-content img{
    width: 100%;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-reaction .like-comments {
    display: flex;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-reaction .like-comments .like-icons{
    display: flex;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-reaction .like-comments .like-icons img{
    width: 30px;
    height: 30px;
    padding: 2px;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-reaction .like-comments .feed-details{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-reaction .like-comments .feed-details p{
    color: #3333339e;
    font-size: 14px;
    font-weight: 600;
    
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-reaction .like-buttons{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-reaction .like-buttons > div{
    display: flex;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-reaction .like-buttons div {
    max-width: 50px;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-reaction .like-buttons div img {
    height: 20px;
    width: 20px;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-reaction .like-buttons div p {
    padding-left: 5px;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-reaction .comment-button {
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-reaction .comment-button div {
    width: 100%;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-reaction .comment-button div input {
    width: 86%;
    background-color: #f1f2f6;
    border: none;
    padding: 10px;
    text-align: left;
    padding-left: 40px;
    border-radius: 20px;
    margin-left: 10px;
    outline: none;
    font-weight: 600;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-reaction .comment-button img{
    height: 30px;
    width: 30px;
    border-radius: 25px;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-reaction .comment-button form {
    position: relative;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-reaction .comment-button form img {
    width: 15px;
    height: 15px;
    border-radius: 0;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-reaction .comment-button .status-feed {
    display: flex;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-reaction .comment-button .status-feed form{
    width: 100%;
    position: relative;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-reaction .comment-button .status-feed form input {
    width: 86%;
    background-color: #f1f2f6;
    border: none;
    padding: 10px;
    text-align: left;
    padding-left: 40px;
    border-radius: 20px;
    margin-left: 10px;
    outline: none;
    font-weight: 600;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-reaction .comment-button .status-feed form .one {
    position: absolute;
    right: 80px;
    top: 8px;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-reaction .comment-button .status-feed form .two {
    position: absolute;
    right: 50px;
    top: 8px;
}

.main-menu-content .main-menu-center .main-feed-area .feed-heading .feed-reaction .comment-button .status-feed form .three {
    position: absolute;
    right: 30px;
    top: 8px;
}

.main-menu-content .main-menu-right{
    margin-right: 10px;
}

.main-menu-content .main-menu-right h1{
    margin-top: 40px;
    font-size: 16px;
    color: #333;
}